<br />
<br />
<br />
<br />

<footer>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-3">
      <h2 style="text-align: center">Click to download app</h2>
      <div class="row">
        <div class="col">
          <a href="https://play.google.com/store?hl=en"
            ><img
              src="../../assets/Images/google_playStore.jpg"
              width="130"
              height="50"
          /></a>
        </div>
        <div class="col">
          <a href="https://www.apple.com/ios/app-store/"
            ><img
              src="../../assets//Images/appstore.jpg"
              width="130"
              height="50"
          /></a>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
    <div class="col-2">
      <h2 style="text-align: center">Follow us on:</h2>
      <div class="row">
        <div class="col">
          <a href="https://www.instagram.com/?hl=en"
            ><h1><i class="fa fa-instagram" aria-hidden="true"></i></h1
          ></a>
        </div>
        <div class="col">
          <a
            href="https://www.facebook.com/campaign/landing.php?campaign_id=1653993517&extra_1=s%7Cc%7C318504236063%7Ce%7Cfacebook%7C&placement=&creative=318504236063&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D1653993517%26adgroupid%3D63066387003%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D9300592%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=EAIaIQobChMIkcWo2dCf6wIVzn8rCh3kEgv3EAAYASAAEgKeB_D_BwE"
          >
            <h1><i class="fa fa-facebook" aria-hidden="true"></i></h1
          ></a>
        </div>
        <div class="col">
          <a href="https://twitter.com/?lang=en"
            ><h1><i class="fa fa-twitter" aria-hidden="true"></i></h1
          ></a>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <p style="text-align: center">&copy;COPYRIGHT FASTNEWS @2020</p>
</footer>
